.Rproj.user
.Rhistory
proposal-concordance.tex
proposal.log
proposal.synctex.gz
signal_proposal.Rproj
burdukiewicz_description-concordance.tex
burdukiewicz_description.bbl
burdukiewicz_description.log
burdukiewicz_description.synctex.gz
burdukiewicz_description.tex
burdukiewicz_proposal.log
burdukiewicz_proposal.synctex.gz

